* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

ul li {
  list-style: none;
}

button {
  outline: none;
  border: none;
  @include user-select();
  cursor: pointer;
  background-color: transparent;
  display: inline-flex;
  &:hover {
    @include filter(brightness, 0.9);
  }
}

input {
  outline: none;
  border: none;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &[type='number'] {
    -moz-appearance: textfield;
  }
}

ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  max-width: 100%;
}
